[Unit]
Description=Open WebUI Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ec2-user
EnvironmentFile=/home/ec2-user/open-webui.env
ExecStart=/home/ec2-user/.local/bin/uvx --python 3.11 open-webui@latest serve
ExecStop=/bin/kill -HUP $MAINPID
Restart=always
User=ec2-user

[Install]
WantedBy=multi-user.target
